version: "3.9"

services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    image: portfolio:latest
    container_name: portfolio
    ports:
      - "8085:8085"
    environment:
      - RUST_LOG=info
    restart: unless-stopped
